.wot-options-body {
    width: 938px;
    margin: 0 auto;
    padding: 32px 20px;
    /* border: 1px dashed green; */
}
.wot-options-body .column {
    width: 249px;
    height: 500px;
    padding: 24px;
    background: #fff;
    border: 1px solid #ebebeb;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}
.wot-options-body .column .head {
    padding: 6px 0 14px 43px;
    border-bottom: 1px solid #ececec;
    position: relative;
}


.wot-options-body .column .head  .info {
    width: 20px;
    height: 20px;
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-info.png) 0 0 no-repeat;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
}

.wot-options-body .column.column-trusted-sites .head {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-trust.png) 0 0 no-repeat;
}
.wot-options-body .column.column-blocked-keywords .head {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-block-kw.png) 0 0 no-repeat;
}
.wot-options-body .column.column-blocked-sites .head {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-block-site.png) 0 0 no-repeat;
    /* position: relative; */
}

.wot-options-body .column.column-trusted-sites .head .title {
    color: #7ab330;
}
.wot-options-body .column.column-blocked-keywords .head .title {
    color: #f4bd2c;
}
.wot-options-body .column.column-blocked-sites .head .title {
    color: #ef4035;
}

.wot-options-body .column .input {
    height: 34px;
    margin-top: 32px;
    border: 1px solid #ececec;
    position: relative;
}

.wot-options-body .column .input button {
    height: 34px;
    width: 60px;
    color: #fff;
    font-size: 14px;
    border: none;
    position: absolute;
    right: 0;
}
.wot-options-body .column.column-trusted-sites .input button {
    background: #7ab330;
}
.wot-options-body .column.column-blocked-keywords .input button {
    background: #f4bd2c;
}
.wot-options-body .column.column-blocked-sites .input button {
    background: #ef4035;
}

.wot-options-body .column .input input {
    height: 32px;
    color: #818181;
    font-size: 12px;
    border: none;
    padding-left: 40px;
    width: 140px;
    padding-right: 4px;
}
.wot-options-body .column.column-trusted-sites .input input {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-add-trust-site.png) 8px 6px no-repeat;
}
.wot-options-body .column.column-blocked-keywords .input input {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-add-block-kw.png) 8px 6px no-repeat;
}
.wot-options-body .column.column-blocked-sites .input input {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-add-block-site.png) 8px 6px no-repeat;
}

.wot-options-body .column .list-wrap {
    padding: 0;
    margin: 30px 0;
    /* border: 1px dashed red; */
    height: 366px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wot-options-body .column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* border: 1px dashed red; */
    /* height: 366px; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}

.wot-options-body .column ul > li {
    padding: 6px 2px;
    margin: 0;
    color: #818181;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}
.wot-options-body .column ul > li button{
    width: 11px;
    height: 11px;
    position: absolute;
    right: 4px;
    top: 10px;
    border: none;
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-x-gray.png) 0 0 no-repeat transparent;
    cursor: pointer;
}
.wot-options-body .column.column-trusted-sites ul > li:hover {
    color: #7ab330;
}
.wot-options-body .column.column-blocked-keywords ul > li:hover {
    color: #f4bd2c;
}
.wot-options-body .column.column-blocked-sites ul > li:hover {
    color: #ef4035;
}
.wot-options-body .column.column-trusted-sites ul > li:hover button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-x-green.png) 0 0 no-repeat transparent;
}
.wot-options-body .column.column-blocked-keywords ul > li:hover button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-x-orange.png) 0 0 no-repeat transparent;
}
.wot-options-body .column.column-blocked-sites ul > li:hover button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-x-red.png) 0 0 no-repeat transparent;
}

.wot-options-body .password-settings {
    /* padding: 24px; */
    background: #fff;
    border: 1px solid #ebebeb;
    margin: 6px;
    border-radius: 3px;
    height: 110px;
    position: relative;
}
.wot-options-body .password-settings.off {
    background: #e4e4e4;
}

.wot-options-body #password-settings-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.wot-options-body .password-settings .status-block {
    width: 90px;
    padding: 25px 0 25px 120px;
    /* border: 1px dashed red; */
    background: url(chrome-extension://__MSG_@@extension_id__/img/password-protect.png) 45px 25px no-repeat;
    float: left;
}
.wot-options-body .password-settings.off .status-block {
    background: url(chrome-extension://__MSG_@@extension_id__/img/password-protect-off.png) 45px 25px no-repeat;
}

.wot-options-body .password-settings .status-block .title {
    font-size: 14px;
    color: #818181;
    padding: 10px 6px 0;
}
.wot-options-body .password-settings .status-block .status {
    font-size: 14px;
    font-weight: bold;
    color: #818181;
    padding: 6px;
}
/*
.wot-options-body .password-settings .status-block .status span.on{
  display: none;
}
.wot-options-body .password-settings .status-block .status span.off{
  display: block;
}
.wot-options-body .password-settings.active .status-block .status span.on{
  display: block;
  color: #83bc38;
  text-transform: uppercase;
  padding-left: 38px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/check-on.png) 0 50% no-repeat;
  font-size: 14px;
  line-height: 20px;
}
.wot-options-body .password-settings.active .status-block .status span.off{
  display: none;
}*/

/* @see http://cssdeck.com/labs/css-checkbox-styles */
.wot-options-body .password-settings .slider input[type=checkbox] {
    visibility: hidden;
}

.wot-options-body .password-settings .slider {
    width: 31px;
    height: 10px;
    background: #ccc;
    margin: 10px 0 10px 8px;

    /* -webkit-border-radius: 50px; */
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    /* -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2); */
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    /* box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2); */
    /* border: 1px dashed red; */
}

.wot-options-body .password-settings.active .slider {
    background: #8fcb40;
}

.wot-options-body .password-settings .slider  label {
    z-index: 100;
}

.wot-options-body .password-settings .slider > input + label {
    display: inline;
    width: 16px;
    height: 16px;

    /* -webkit-border-radius: 50px; */
    -moz-border-radius: 50px;
    border-radius: 50px;

    /* -webkit-transition: all .4s ease; */
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); */
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    /* box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); */
    background: #fff;
    border: 1px solid #afafaf;

    /* background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); */
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.wot-options-body .password-settings .slider input[type=checkbox]:checked + label {
    left: 18px;
    background: #83bc38;
}

.wot-options-body .password-settings .slider input[type=checkbox] ~ label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.wot-options-body .password-settings .slider input[type=checkbox] ~ label.off {
    text-transform: uppercase;
    color: #ef4035;
    position: absolute;
    left: 40px;
    top: -3px;
    cursor: pointer;
}
.wot-options-body .password-settings .slider input[type=checkbox]:checked ~ label.off {
    display: none;
}
.wot-options-body .password-settings .slider input[type=checkbox] ~ label.on {
    display: none;
}
.wot-options-body .password-settings .slider input[type=checkbox]:checked ~ label.on {
    text-transform: uppercase;
    color: #83bc38;
    position: absolute;
    left: 40px;
    top: -3px;
    display: inline;
    cursor: pointer;
}

.wot-options-body .password-settings .controls-block {
    /* border: 1px dashed red; */

    width: 125px;
    float: left;
    padding: 20px 13px;
}

.wot-options-body .password-settings .controls-block  button{
    width: 125px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color:  #fff;
    font-size: 12px;
    font-weight: normal;
    margin: 3px;
}
.wot-options-body .password-settings .controls-block  button#btn-set-password{
    background: transparent;
    color: #f4bd2c;
    border: 2px solid #f4bd2c;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 128px;
    margin: 20px 20px;
    cursor: pointer;
}
.wot-options-body .password-settings .controls-block  button#btn-set-password:hover {
    background: #f4bd2c;
    color: #fff;
}
.wot-options-body .password-settings.off .controls-block  button#btn-set-password,
.wot-options-body .password-settings.off .controls-block  button#btn-set-password:hover {
    background: none;
    border-color: #afafaf;
    color: #afafaf;
    cursor: inherit;
    outline: none;
}
/*
.wot-options-body .password-settings .controls-block  button#btn-remove-password{
  background: #b9b9b9;
}
*/

.wot-options-body .password-settings .bypass-block  {
    font-size: 12px;
    color: #5c5c5c;
    padding: 24px 0 24px 124px;
    float: left;
}
.wot-options-body .password-settings .bypass-block  #btn-enable-block-bypass {

}
.wot-options-body .password-settings .bypass-block  label {
    margin: 8px;

}
.wot-options-body .password-settings .bypass-block  .hint {
    font-size: 12px;
    color: #b2b2b2;
    margin-top: 10px;
    padding-left: 28px;
}

.wot-options-body .password-settings .info {
    width: 20px;
    height: 20px;
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-info.png) 0 0 no-repeat;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    /* border: 1px dashed green; */
}

.wot-options-body .wot-options-footer {
    x-width: 767px;
    margin: 0 auto;
    /* padding: 32px 20px; */
    /* background: #fff; */
    /* border: 1px dashed #ebebeb; */
    margin: 22px 7px;
    /* border-radius: 3px; */
    height: 110px;
}

.wot-options-body .wot-options-footer .reset-block  {
    float: left;
}

.wot-options-body .wot-options-footer .reset-block button#btn-reset {
    font-size: 12px;
    color: #fff;
    width: 125px;
    height: 30px;
    border: none;
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-reset.png) 16px 50% no-repeat #00aeef;
    text-align: left;
    padding-left: 54px;
    border-radius: 3px;
}
.wot-options-body .wot-options-footer .reset-block button#btn-reset:hover {
    color: #136f91;
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-reset-90.png) 16px 50% no-repeat #00aeef;
}

.wot-options-body .wot-options-footer .social-block  {
    float: right;
}
.wot-options-body .wot-options-footer .social-block span {
    font-size: 12px;
    color: #7ab330;
    margin: 0 10px;
}

.wot-options-body .wot-options-footer .social-block button {
    font-size: 10px;
    color: #fff;
    border: none;
    width: 62px;
    height: 22px;
    border-radius: 2px;
    margin: 0 5px;
    padding-left: 18px;
}

.wot-options-body .wot-options-footer .social-block button#btn-facebook {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-facebook.png) 5px 50% no-repeat #39579a;
}

.wot-options-body .wot-options-footer .social-block button#btn-twitter {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-twitter.png) 5px 50% no-repeat #01acee;
}

.wot-options-body .wot-options-footer .social-block button#btn-gplus {
    background: url(chrome-extension://__MSG_@@extension_id__/img/ico-gplus.png) 5px 50% no-repeat #d34836;
}

.wot-options-body .modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.5);*/
    background: rgba(128, 128, 128, 1);
    z-index: 101;
}

.wot-options-body .modal-dialog {
    width: 640px;
    margin: 150px auto 20px;
    padding: 10px;
    background: white;
    border-radius: 30px;
    /* height: 316px; */
    text-align: center;
    position: relative;
}

.wot-options-body .modal-dialog:after {
    display: block;
    content: "";
    clear: both;
}

.wot-options-body .modal-title {
    /* height: 44px; */
    display: inline-block;
    margin: 54px auto 0;
    border-bottom: 1px solid #ececec;
    /* border: 1px dashed red; */
    font-size: 26px;
    font-weight: bold;
    color: #818181;
    line-height: 46px;
    padding-bottom: 15px;
}

.momane_blockReason{
    padding: 20px;
    padding-top: 40px;
    font-family: sans-serif;
    direction: ltr;
    font-size: 14pt;
    color: #777674;
}
.momane_blockReason em{
    font-weight: bold;
    color: red;
}

.momane_blockReason .momane_name{
    display: inline-block;
    max-width: 70%;
    margin-bottom: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wot-options-body .modal-title.exclamation {
    padding-left: 64px;
    font-family: sans-serif;
    margin-bottom: 32px;
    background: url(chrome-extension://__MSG_@@extension_id__/img/excl.png) 0 0 no-repeat;
}
.wot-options-body .modal-title.logo {
    padding-left: 120px;
    background: url(chrome-extension://__MSG_@@extension_id__/img/logo.png) 0 0 no-repeat;
}
.wot-options-body .modal-title.red-donut {
    padding-left: 90px;
    background: url(chrome-extension://__MSG_@@extension_id__/img/red-donut.png) 0 0 no-repeat;
    border: none;
    height: 100px;
}

.wot-options-body .modal-message {
    color: #818181;
    font-size: 16px;
    margin: 10px;
    line-height: 24px;
}

.wot-options-body .modal-controls {
    margin: 50px auto 40px;
    direction: ltr;
}

.wot-options-body .modal-controls button{
    width: 120px;
    height: 36px;
    margin: 0 17px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    border-style: none;
}
.wot-options-body .modal-controls button.button-ok{
    background: #7ec437;
}
.wot-options-body .modal-controls button.button-cancel{
    background: #b9b9b9;
}

.wot-options-body .modal-close {
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(chrome-extension://__MSG_@@extension_id__/img/close.png) 0 0 no-repeat;
    top: -30px;
    right: 0;
}

.wot-options-body .modal label {
    font-size: 14px;
    font-family: sans-serif;
    color: #818181;
    width: 172px;
    /* border: 1px dashed red; */
    display: inline-block;
    text-align: left;
}
.button-trust{
    background-color: #78B521;
}

.button-back{
    background: #F23E2C;
}