body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

input[type=checkbox] {
    /* visibility: hidden; */
}

header {
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
}

.wot-options {
}

.wot-options-head {
    width: 978px;
    margin: 0 auto;
    height: 60px;
    background: #fff;
    color: #818181;
}

.wot-options-head .logo {
    width: 170px;
    background: url(/img/logo.png) 0 100% no-repeat;
    float: left;
    height: 60px;
}

.wot-options-head .title {
    width: 120px;
    float: left;
    height: 26px;
    text-align: center;
    padding-top: 34px;
    font-size: 14px;
    color: #818181;
}

.wot-options-head .message {
    width: 200px;
    height: 26px;
    text-align: center;
    padding-top: 34px;
    font-size: 14px;
    color: #7ab330;
    margin: 0 auto;
}

.wot-options-head .controls {
    float: right;
    height: 30px;
    text-align: left;
    padding: 30px 4px 0 0;
}

.wot-options-head .controls button#btn-options {
    background: url(/img/btn-options.png) 0 0 no-repeat transparent;
}

/*.wot-options-head .controls div#btn-hide {*/
/*background: url(/img/btn-hide.png) 0 0 no-repeat transparent;*/
/*}*/

.wot-options-head .controls button#btn-on-off {
    /*background: url(/img/btn-off.png) 0 0 no-repeat transparent;*/
    background-color: #ffffff;
}

.wot-options-head .controls button#btn-on-off.active {
    /*background: url(/img/btn-on.png) 0 0 no-repeat transparent;*/
}

.wot-options-content {
    width: 935px;
    margin: 0 auto;
    padding: 32px 20px;
    position: relative;
}

.wot-options-content .column {
    width: 249px;
    height: 500px;
    padding: 24px;
    background: #fff;
    border: 1px solid #ebebeb;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}

.wot-options-content .column .head {
    padding: 6px 0 14px 43px;
    position: relative;
}

.wot-options-content .column .head .title {

}

.wot-options-content .column .head .info {
    width: 20px;
    height: 20px;
    background: url(/img/ico-info.png) 0 0 no-repeat;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
}

.content-settings {
    position: relative;
    left: 1px;
}

.history-settings .hisinfo {
    width: 20px;
    height: 20px;
    background: url(/img/ico-info.png) 0 0 no-repeat;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.wot-options-content .info > .hint,
.wot-options .hide_icon > .hint,
.hisHint {
    background: #fcfcfc;
    position: absolute;
    bottom: 33px;
    right: -47px;
    width: 194px;
    padding: 8px 12px;
    z-index: 998;
    border-radius: 3px;
    color: #818181;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    display: none;
    cursor: default;
}

.wot-options-content .info > .hint.hint-left,
.wot-options .hide_icon > .hint.hint-left {
    position: relative;
    right: 280px;
    top: -25px;
    width: 240px;
}

.wot-options-content .info:hover > .hint,
.wot-options .hide_icon:hover > .hint {
    display: block;
}

.wot-options-content .info > .hint:before,
.hisHint:before,
.wot-options .hide_icon > .hint:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 9px;
    bottom: -9px;
    right: 50px;
    background: url(../img/hint-angle.png) 0 0 no-repeat transparent;
}

.wot-options-content .info > .hint.hint-left:before,
.wot-options .hide_icon > .hint.hint-left:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 13px;
    top: 12px;
    right: -9px;
    background: url(../img/hint-angle-right.png) 0 0 no-repeat transparent;
}

.wot-options #btn-hide .hint {
    height: 130px;
    text-align: left;
}

.wot-options-content .column.column-trusted-sites .head {
    background: url(/img/ico-trust.png) 0 0 no-repeat;
}

.wot-options-content .column.column-blocked-keywords .head {
    background: url(/img/ico-block-kw.png) 0 0 no-repeat;
}

.wot-options-content .column.column-blocked-sites .head {
    background: url(/img/ico-block-site.png) 0 0 no-repeat;
}

.wot-options-content .column.column-trusted-sites .head .title {
    color: #7ab330;
}

.wot-options-content .column.column-blocked-keywords .head .title {
    color: #f4bd2c;
}

.wot-options-content .column.column-blocked-sites .head .title {
    color: #ef4035;
}

.wot-options-content .column .input {
    height: 34px;
    margin-top: 20px;
    border: 1px solid #ececec;
    position: relative;
    border-radius: 0px 17px 17px 0px;
}

.wot-options-content .column .input button {
    height: 34px;
    width: 34px;
    color: #fff;
    font-size: 14px;
    border: none;
    position: absolute;
    right: 0;
}

.wot-options-content .column.column-trusted-sites .input button {
    background: #7ab330;
    border-radius: 17px;
}

.wot-options-content .column.column-blocked-keywords .input button {
    background: #f4bd2c;
    border-radius: 17px;
}

.wot-options-content .column.column-blocked-sites .input button {
    background: #ef4035;
    border-radius: 17px;
}

.wot-options-content .column .input input {
    height: 32px;
    color: #818181;
    font-size: 12px;
    border: none;
    padding-left: 40px;
    width: 180px;
    padding-right: 4px;

}

.wot-options-content .column.column-trusted-sites .input input {
    background: url(/img/ico-add-trust-site.png) 8px 6px no-repeat;
}

.wot-options-content .column.column-blocked-keywords .input input {
    background: url(/img/ico-add-block-kw.png) 8px 6px no-repeat;
}

.wot-options-content .column.column-blocked-sites .input input {
    background: url(/img/ico-add-block-site.png) 8px 6px no-repeat;
}

.wot-options-content .column .list-wrap {
    padding: 0;
    margin: 30px 0;
    height: 366px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wot-options-content .column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wot-options-content .column ul > li {
    padding: 6px 2px;
    margin: 0;
    color: #818181;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

li .item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wot-options-content .column ul > li button {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 4px;
    top: 10px;
    border: none;
    background: url(/img/ico-x-gray.png) 0 0 no-repeat transparent;
    cursor: pointer;
}

.wot-options-content .column.column-trusted-sites ul > li:hover {
    color: #7ab330;
}

.wot-options-content .column.column-blocked-keywords ul > li:hover {
    color: #f4bd2c;
}

.wot-options-content .column.column-blocked-sites ul > li:hover {
    color: #ef4035;
}

.wot-options-content .column.column-trusted-sites ul > li:hover button {
    background: url(/img/ico-x-green.png) 0 0 no-repeat transparent;
}

.wot-options-content .column.column-blocked-keywords ul > li:hover button {
    background: url(/img/ico-x-orange.png) 0 0 no-repeat transparent;
}

.wot-options-content .column.column-blocked-sites ul > li:hover button {
    background: url(/img/ico-x-red.png) 0 0 no-repeat transparent;
}

.wot-options-content .password-settings {
    background: #fff;
    border: 1px solid #ebebeb;
    margin: 6px;
    border-radius: 3px;
    height: 110px;
    position: relative;
}

.history-settings {
    background: #fff;
    border: 1px solid #ebebeb;
    margin: 6px;
    border-radius: 3px;
    min-height: 110px;
    position: relative;
}

.wot-options-content .password-settings.off, .history-settings.off {
    background: #e4e4e4;
}

.wot-options-content #password-settings-cover, #history-settings-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.wot-options-content .password-settings .left-block {
    width: 90px;
    /*padding: 25px 0 25px 120px;*/
    background: url(/img/password-protect.png) 45px 25px no-repeat;
    position: absolute;
    /*display: inline-block;*/
}

.history-settings .status-block {
    padding: 25px 0 25px 120px;
    background: url(/img/block_history.png) 45px 30px no-repeat;
    float: left;
}

.wot-options-content .password-settings .left-block.off {
    background: url(/img/password-protect-off.png) 45px 25px no-repeat;
}

.wot-options-content .password-settings .left-block {
    width: 46%;
    border-right: 1px solid #ebebeb;
    height: 104px;
    position: relative;
    display: inline-block;
    bottom: 34px;
}

.wot-options-content .password-settings .left-block.off {
    border-right: none;
    bottom: 0px;
}

.wot-options-content .password-settings .right-block.off {
    display: none;
}

.wot-options-content .password-settings .right-block {
    position: relative;
    height: 110px;
    display: inline-block;
}

.wot-options-content .password-settings .right-block .right-block-title {
    position: absolute;
    width: 160px;
    top: 37px;
    left: 20px;
}

.wot-options-content .password-settings .status-block .title,
.wot-options-content .password-settings .right-block .right-block-title,
.history-settings .status-block .title {
    font-size: 14px;
    color: #818181;
    padding: 10px 6px 0;
}

.wot-options-content .password-settings .status-block {
    display: inline-block;
    padding-left: 123px;
    padding-top: 24px;
}

.wot-options-content .password-settings .status-block.off {
    position: relative;
    left: 294px;
}

.wot-options-content .password-settings .status-block .status, .history-settings .status-block .status {
    font-size: 14px;
    font-weight: bold;
    color: #818181;
    padding: 6px;
}

/* @see http://cssdeck.com/labs/css-checkbox-styles */
.wot-options-content .password-settings .slider input[type=checkbox],
.wot-options-content .history-settings .slider input[type=checkbox] {
    visibility: hidden;
}

.wot-options-content .password-settings .slider,
.wot-options-content .history-settings .slider {
    width: 31px;
    height: 10px;
    background: #ccc;
    margin: 10px 0 10px 8px;
    border-radius: 50px;
    position: relative;
}

.wot-options-content .password-settings.active .slider,
.wot-options-content .history-settings.active .slider {
    background: #8fcb40;
}

.wot-options-content .password-settings .slider label,
.wot-options-content .history-settings .slider label {
    z-index: 100;
}

.wot-options-content .password-settings .slider > input + label,
.wot-options-content .history-settings .slider > input + label {
    display: inline;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;
    background: #fff;
    border: 1px solid #afafaf;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}

.wot-options-content .password-settings .slider input[type=checkbox]:checked + label,
.wot-options-content .history-settings .slider input[type=checkbox]:checked + label {
    left: 18px;
    background: #83bc38;
}

.wot-options-content .password-settings .slider input[type=checkbox] ~ label,
.wot-options-content .history-settings .slider input[type=checkbox] ~ label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.wot-options-content .password-settings .slider input[type=checkbox] ~ label.off,
.wot-options-content .history-settings .slider input[type=checkbox] ~ label.off {
    text-transform: uppercase;
    color: #ef4035;
    position: absolute;
    left: 40px;
    top: -3px;
    cursor: pointer;
}

.wot-options-content .password-settings .slider input[type=checkbox]:checked ~ label.off,
.wot-options-content .history-settings .slider input[type=checkbox]:checked ~ label.off {
    display: none;
}

.wot-options-content .password-settings .slider input[type=checkbox] ~ label.on,
.wot-options-content .history-settings .slider input[type=checkbox] ~ label.on {
    display: none;
}

.wot-options-content .password-settings .slider input[type=checkbox]:checked ~ label.on,
.wot-options-content .history-settings .slider input[type=checkbox]:checked ~ label.on {
    text-transform: uppercase;
    color: #83bc38;
    position: absolute;
    left: 40px;
    top: -3px;
    display: inline;
    cursor: pointer;
}

.wot-options-content .password-settings .controls-block {
    position: absolute;
    right: 35px;
    top: 20px;
}

.wot-options-content .history-settings .controls-block {
    float: left;
    width: 150px;
    padding: 20px 13px;
    display: none;    
}

#btn-set-password, #btn-set-bypass, #btn-set-blockreason, #btn-clear-history {
    background: transparent;
    color: #f4bd2c;
    border: 2px solid #f4bd2c;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 128px;
    margin: 20px 16px;
    height: 30px;
    cursor: pointer;
}

#btn-set-bypass, #btn-set-blockreason {
    margin: 0px;
}

#btn-set-password:hover, #btn-clear-history:hover {
    color: #fff;
    border-color: #afafaf;
    color: #afafaf;
}

#btn-set-password.off {
    display: none;
}

#btn-set-bypass:hover, #btn-set-blockreason:hover {
    opacity: 0.7;
}

#btn-set-password:hover,
#btn-set-bypass:hover {
    background: none;
    border-color: #afafaf;
    color: #afafaf;
    outline: none;
}

#btn-set-bypass, #btn-set-blockreason {
    border: 2px solid #afafaf;
    color: #afafaf;
    width: 245px;
    margin-bottom: 7px;
}

.history-settings .controls-block {
    float: right !important;
}

.bypass-block {
    font-size: 12px;
    color: #5c5c5c;
    left: 240px;
    top: 22px;
    position: absolute;
}

.bypass-block label {
    margin: 8px;
}

.bypass-block .desc {
    font-size: 12px;
    color: #b2b2b2;
    margin-top: 10px;
    padding-left: 28px;
}

.wot-options-content .password-settings .info {
    width: 20px;
    height: 20px;
    background: url(/img/ico-info.png) 0 0 no-repeat;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.wot-options-content .wot-options-footer {
    margin: 22px 7px;
    height: 110px;
}

.reset-block, .backup-block {
    display: inline-block;
}

#btn-reset {
    font-size: 12px;
    color: #fff;
    width: 130px;
    height: 30px;
    border: none;
    background: url(/img/ico-reset.png) 16px 50% no-repeat #00aeef;
    text-align: left;
    padding-left: 54px;
    border-radius: 3px;
}

.backup-block {
    margin-left: 20px;
}

#btn-backup {
    font-size: 12px;
    color: #fff;
    background: #00aeef;
    height: 30px;
    border: none;
    text-align: left;
    padding: 0 20px;
    border-radius: 3px;
}

.backupOptions {
    display: none;
    margin-left: 20px;
}

.backupOptions button {
    font-size: 12px;
    color: #7ab330;
    height: 30px;
    border: none;
    text-align: left;
    padding: 0 20px;
    border-radius: 3px;
    margin-left: 10px;
}

#btn-export:hover, #btn-import:hover {
    color: #00aeef;
}

#btn-export {
    color: #fff;
}

#btn-import {
    color: #fff;
}

#btn-reset:hover {
    color: #136f91;
    background: url(/img/ico-reset-90.png) 16px 50% no-repeat #00aeef;
}

#btn-backup:hover {
    color: #136f91;
}

.wot-options-content .wot-options-footer .social-block {
    float: right;
}

.wot-options-content .wot-options-footer .social-block span {
    font-size: 12px;
    color: #7ab330;
    margin: 0 10px;
}

.wot-options-content .wot-options-footer .social-block button {
    font-size: 10px;
    color: #fff;
    border: none;
    width: 82px;
    height: 22px;
    border-radius: 2px;
    margin: 0 5px;
    padding-left: 18px;
}

.wot-options-content .wot-options-footer .social-block button#btn-facebook {
    background: url(/img/ico-facebook.png) 5px 50% no-repeat #39579a;
}

.wot-options-content .wot-options-footer .social-block button#btn-twitter {
    background: url(/img/ico-twitter.png) 5px 50% no-repeat #01acee;
}

.wot-options-content .wot-options-footer .social-block button#btn-gplus {
    background: url(/img/ico-gplus.png) 5px 50% no-repeat #d34836;
}

.wot-options-content .modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 101;
}

.wot-options-content .modal-dialog {
    width: 640px;
    margin: 150px auto 0;
    padding: 10px;
    background: #fff;
    border-top: 4px solid #00aeef;
    text-align: center;
    position: relative;
    border-radius: 30px;
}

.wot-options-content .modal-dialog:after {
    display: block;
    content: "";
    clear: both;
}

.wot-options-content .modal-title {
    display: inline-block;
    margin: 54px auto 15px;
    border-bottom: 1px solid #ececec;
    font-size: 26px;
    font-weight: bold;
    color: #818181;
    line-height: 46px;
    padding-bottom: 15px;
}

.wot-options-content .modal-title.exclamation {
    padding-left: 64px;
    background: url(/img/excl.png) 0 0 no-repeat;
}

.wot-options-content .modal-title.logo {
    padding-left: 120px;
    background: url(/img/logo.png) 0 0 no-repeat;
}

.wot-options-content .modal-title.red-donut {
    padding-left: 90px;
    background: url(/img/red-donut.png) 0 0 no-repeat;
    border: none;
    height: 100px;
}

.wot-options-content .modal-message {
    color: #818181;
    font-size: 16px;
    margin: 10px;
    line-height: 24px;
}

.block-page .modal-controls {

}

.wot-options-content .modal-controls {
    margin: 50px auto 40px;
}

.wot-options-content .modal-controls button {
    width: 120px;
    height: 36px;
    margin: 0 17px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
}

.wot-options-content .modal-controls button.button-ok {
    background: #7ec437;
}

.wot-options-content .modal-controls button.button-cancel {
    background: #b9b9b9;
}

.wot-options-content .modal-close {
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(/img/close.png) 0 0 no-repeat;
    top: -30px;
    right: 0;
}

.wot-options-content .modal label {
    font-size: 14px;
    color: #818181;
    width: 172px;
    display: inline-block;
    text-align: left;
}

button.remove {
    display: none;
}

ul.list, li:hover button.remove {
    display: block;
}

#btn-on-off {
    width: 120px !important;
    display: inline !important;
    font-weight: bolder;
    color: #818181;
}

.hide_icon {
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bolder;
    color: #818181;;
}

#btn-on-off {
    cursor: pointer;
    padding-left: 30px;
}

.hint, .hisHint {
    display: none;
    border: 1px solid lightgrey;
    box-shadow: 1px 10px 20px lightgray;
}

.hisHint {
    height: 55px;
}

.oldPassword {
    display: none;
}

.oldPasswordMsg {
    color: red;
}

.passwords {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bypassEnabled {
    color: red;
}

#modal-guide {
    display: none;
}

#modal-guide .modal-dialog {
    border-top: none;
    border-radius: 10px;
    background-image: url(../img/greentop.svg);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: -10px -10px;
}

.guide-logo {
    text-align: left;
}

#modal-guide .modal-title {
    font-size: 19px;
    border-bottom: none;
    margin-top: 20px;
}

.guideContent {
    font-size: 16px;
    text-align: left;
    padding-left: 160px;
    font-weight: 600;
    color: #9a9a9f;
}

#btn-start-guide {
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px 14px;
    width: auto;
}

.guide-page {
    float: right;
    color: #7ec437;
}

.guideInlinePassword {
    display: none;
    padding-top: 20px;
}

.guideInlinePassword label {
    font-size: 14px;
    color: #818181;
    width: 172px;
    display: inline-block;
    text-align: left;
    font-weight: 500;
}

#btn-guide-cancel {
    width: auto;
    background: #b9b9b9;
    padding: 5px 14px;
}

.filterOff {
    font-size: 24px;
    color: #818181;
    text-align: center;
    margin-top: -25px;
    display: none;
    position: absolute;
    left: 436px;
}

#historyRecord {
    display: none;
}

#historyRecord table {
    border: none;
    width: 100%;
    clear: both;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

#historyRecord table tr td {
    color: grey;
    font-weight: lighter;
    display: inline-block;
    text-align: left;
    padding: 5px;
}

#historyRecord table tr:hover > .removeHis div {
    display: block;
}

#historyRecord  tr td:nth-child(2)
{
    width: 25%;
}

#historyRecord  tr td:nth-child(3),
{
    width: 35%;
}


thead td:first-child{
    width: 25%;
}


.removeHis div {
    color: white;
    cursor: pointer;
    background: url("../img/ico-x-gray.png") 0 0 no-repeat;
    width: 12px;
    height: 12px;
    display: none;
}

.removeHis div:hover {
    background: url("../img/ico-x-red.png") 0 0 no-repeat;
}

#historyRecord table tr:hover > .removeHis button {
    display: block;
    color: #7ec437;
}

.truncate {
    max-width: 25%;
    min-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-reason {
    max-width: 34%;
    min-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reasonName {
    max-width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: sub;
}
thead td{
    font-weight: bold !important;
}

#trusted-sites-list, #blocked-sites-list, #keywords-list {
    position: relative;
}

#trusted-sites-list .list_plus_image, #blocked-sites-list .list_plus_image, 
#keywords-list .list_plus_image  {
    position: absolute;
    width: 91px;
    height: 91px;
    left: 79px;
    top: 138px;
}

.list_plus_image.on, .list_plus_image.active {
    cursor: pointer;
}

#trusted-sites-list .list_plus_image.on { background-image: url(../img/green.png); }
#blocked-sites-list .list_plus_image.on { background-image: url(../img/red.png); }
#keywords-list .list_plus_image.on { background-image: url(../img/yellow.png); }
#trusted-sites-list .list_plus_image.active { background-image: url(../img/green_active.png); }
#blocked-sites-list .list_plus_image.active { background-image: url(../img/red_active.png); }
#keywords-list .list_plus_image.active { background-image: url(../img/yellow_active.png); }

#trusted-sites-list .list_plus_image.off, #blocked-sites-list .list_plus_image.off,
#keywords-list .list_plus_image.off {
    display: none;
}

#plusesPreloader { width: 0px; height: 0px; }
#greenPlusPreloader { width: 0px; height: 0px; background-image: url(../img/green_active.png); }
#redPlusPreloader { width: 0px; height: 0px; background-image: url(../img/red_active.png); }
#yellowPlusPreloader { width: 0px; height: 0px; background-image: url(../img/yellow_active.png); }