body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.wot-popup {
    height: 237px;
    width: 340px;
    background: #fff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.wot-popup-head {
    padding: 0 4px 0 8px;
    height: 36px;
    border-bottom: 1px solid #bfbfbf;
}

.wot-popup-head .logo {
    width: 111px;
    background: url(../img/logo_34.png) 0 0 no-repeat;
    float: left;
    /* border: 1px dashed red; */
    height: 34px;
}

.wot-popup-head .controls {
    float: right;
    /* border: 1px dashed green; */
    margin-top: 15px;

}

.wot-popup-head .controls button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.wot-popup-head .controls button#btn-options {
    background: url(../img/btn-options.png) 0 0 no-repeat transparent;
}

.wot-popup-head .controls button#btn-hide {
    background: url(../img/btn-hide.png) 0 0 no-repeat transparent;
}

.wot-popup-head .controls button#btn-on-off {
    background: url(../img/btn-off.png) 0 0 no-repeat transparent;
}

.wot-popup-head .controls button#btn-on-off.active {
    background: url(../img/btn-on.png) 0 0 no-repeat transparent;
}

.wot-popup-body .controls {
    text-align: center;
}

.wot-popup-body .controls button {
    display: inline-block;
    width: 49.5%;
    height: 180px;
    padding-top: 90px;
    border: none;
    cursor: pointer;
    color: #676767;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

#btn-block {
    background: url(../img/red-donut.png) 50% 50% no-repeat transparent !important;
}

#btn-trust {
    background: url(../img/green-donut.png) 50% 50% no-repeat transparent !important;
}

#btn-block:hover, #btn-trust:hover {
    background: url(../img/white-donut.png) 50% 50% no-repeat transparent !important;
}

.controls span {
    color: white;
    margin-top: 40px;
    display: block;
    font-size: 18px;
    font-weight: lighter;
}

#btn-block:hover {
    background-color: #CD0F00 !important;
}

#btn-trust:hover {
    background-color: #52B600 !important;
}

.wot-popup-body .links {
    border-top: 1px solid #bfbfbf;
    font-size: 12px;
    padding: 10px;
    text-align: center;

}

.wot-popup-body .links a {
    color: #00aeef;
    text-decoration: none;
}

.wot-popup-body .links a:hover {
    text-decoration: underline;
}

.wot-popup .info:hover > .hint,
.wot-popup button:hover > .hint {
    display: block;
}

.wot-popup .info > .hint:before,
.wot-popup button > .hint:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 9px;
    bottom: -9px;
    right: 50px;
    /* border: 1px dashed red; */
    background: url(../img/hint-angle.png) 0 0 no-repeat transparent;
}

.wot-popup .info > .hint.hint-left:before,
.wot-popup button > .hint.hint-left:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 13px;
    top: 12px;
    right: -9px;
    /* border: 1px dashed red; */
    background: url(../img/hint-angle-right.png) 0 0 no-repeat transparent;
    /* min-height: 200px; */
    /* display: block; */
}

.wot-popup #btn-hide .hint {
    height: 130px;
    text-align: left;
}

.wot-popup-head .controls div {
    display: inline;
    font-size: 12px;
    cursor: pointer;
    padding-left: 10px;
    color: lightgrey;
}
.wot-popup-head .controls div:hover {
    color: #555555;
}

.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 101;
}

.modal-dialog {
    border-radius: 30px;
    width: 240px;
    margin: 50px auto 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #00aeef;
    text-align: center;
    position: relative;
}

.modal-dialog:after {
    display: block;
    content: "";
    clear: both;
}

.modal-title {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #818181;
    line-height: 20px;
    padding: 15px;

}

.modal-message {
    color: #818181;
    font-size: 16px;
    margin: 10px;
    line-height: 24px;
}

.modal-controls {
    margin: 10px
}

.modal-controls button {
    height: 20px;
    margin: 0 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.modal-controls button.button-ok {
    background: #7ec437;
    width: 60px;
}

.modal-controls button.button-cancel {
    background: #b9b9b9;
}

.modal-close {
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(/img/close.png) 0 0 no-repeat;
    top: -30px;
    right: 0;
}

.modal label {
    font-size: 14px;
    color: #818181;
    width: 172px;
    display: inline-block;
    text-align: left;
}
